/*
Slider
*/
.section-center {
  width: 80vw;
  /* have to have a height */
  height: 850px;
  position: relative;
  overflow: hidden;
}

article {
  position: absolute;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
